.typing-indicator {
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    max-width: 60%;
    background-color: #f1f0f0;
    align-self: flex-start;
    padding-left: 15px;
}

.typing-indicator span {
    display: inline-block;
    animation: typing 1s infinite;
    font-size: 20px;
    width: 10px;
    color: rgb(60, 62, 71);
    border-radius: 50%;
}
@keyframes typing {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }
  